extends templates/base
block content
    h3(class="header")=`chat ${chat.name}`
    .chat
        .messages#messages
    .form
        input(type='text' class='message-input' id='message-input')
        button(class='message-button' id="message-btn") Send
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="/js/main.js")
