body {
    padding: 0;
    margin: 0;
}

.chat-header {
    height: 5vh;
    padding: 0;
    margin: 0;
}

.chat {
    background: #e7e7e7;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form {
    height: 5vh;
}

.form * {
    height: 5vh;
    padding: 0;
    margin: 0;
}

.message-input {
    width: 80%;
    border: none;
    font-size: 15px;
}

.message-button {
    width: 20%;
    border: none;
}

.message {
    width: 100%;
    padding: 1% 1%;
}
